pytest>=2.8.2
pytest-pythonpath>=0.3
tox>=1.8.0
eth-testrpc>=0.8.6
git+https://github.com/euri10/ethereum-tester-client.git
py-geth>=1.4.0
git+https://github.com/euri10/pyethereum.git
secp256k1>=0.13.1
rlp>=0.4.6
hypothesis>=3.4.2
flaky>=3.3.0
flake8==3.0.4
